body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

#box {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid black;
}

.status {
  color: black;
  margin: 0;
}
.active {
  background-color: lightgreen;
  border-color: green;
}
